/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset and variables ================================= */
@import 'reset';

$navColor: #000;
$redColor: #C40000;

$column-1-1: 100%;
$column-1-3: 1 / 3 * 100%;
$column-1-2: 1 / 2 * 100%;

$desktop-breakpoint: 960px;

@mixin bp-desktop{
	@media only screen and (min-width: $desktop-breakpoint){
		@content;
	}
}

@mixin links{
	color: $redColor;
	text-decoration: none;
	font-family: 'arial';
	font-size: 16px;
}

.pic-size{
	width: 126px;
	height: 126px;
}

.mini-pic-size{
	width: 81px;
	height: 81px;
}



/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background-color: #424242;
	font-family: 'Arvo', 'arial', serif;
	transition: 2s ease-in;
}

.wrapper{
	@include bp-desktop{
		width: 960px;
		margin: auto;
		border-right: 1px #fff solid;
		border-left: 1px #fff solid;
		-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
	}
}

/* 2. Content ================================= */

// Header

ul, nav{
	display: flex;
	flex: 1;

	@include bp-desktop{
		margin-left: auto
	}
}

header{
	background: rgb(125,126,125); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	z-index: 5;
	
	@include bp-desktop{
		display: flex;
		margin-left: auto;
	}
}

header h1{
	font-size: 30px;
	text-transform: uppercase;
	font-weight: bold;
	padding: 20px 40px;
	color: white;
	text-align: center;
	margin-bottom: 20px;

	@include bp-desktop{
		margin-bottom: 0px;
		flex-grow: 2;
		text-align: left;
	}
}	

h1 span{
	color: $redColor;
}

li{
	flex-direction: row;
    flex: 1;
	justify-content: center;
	align-items: center;
}

nav a{
	text-decoration: none;
	color: white;
	padding: 25px 20px;
	border-left: 1px #595959 solid;
	display: flex;
    justify-content: center;
	
	&:hover{
		background: $navColor;
	}

	&.active{
		background: $navColor;
	}
}

// FOOTER

footer {
	background: black;
	color: white;
	padding: 20px;
	font-family: "arial", sans-serif;
}

footer a{
	@include links;
}






// HOME

.home .hero{
	background: url('/dist/img/aboutcherryblossom.jpg');
	height: 500px;
	
	@include bp-desktop{
		background: contain;
		display: flex;
		flex-direction: column;
		height: 460px;
	}
}

.hero-statement{
	background-color: rgba(0,0,0,0.6);
	position: relative;
	top: 50px;
	width: 400px;

	@include bp-desktop{
		width: 650px;
	}

	h1{
	padding: 25px 35px;
	background-color: transparent;
	font-size: 2.15em;
	color: white;
	display: flex;
	align-content: center;

		@include bp-desktop{
			font-size: 3em;
		}
	}

	span{
	font-size: 150px;
	padding: 0px;	

		@include bp-desktop{
			font-size: 120px;
		}
	}
}


.about-me{
	background: white;
	padding: 20px 25px;
	width: 480px;
	top: 90px;
	margin-left: auto;
	position: relative;
	display: flex;

	@include bp-desktop{
	top: 0px;
	border-top-style: 1px #C6C6C6 solid;
	border-right-style: 1px #C6C6C6 solid;
	align-self: flex-end;
	margin-top: auto;
	}
}

.gelli-statement{
	font-size: 25px;
	display: flex;
	flex-direction: column;
	padding-left: 15px;
	justify-content: space-evenly;

	h2{
		flex: 1.5;
	}

	.title{
		flex: 2;
	}

	p{
		font-family: 'arial';
		font-size: 16px;
	}

	a{
		@include links;
		flex-basis: 60%;
	}

	@include bp-desktop{
		font-size: 30px;
	}
}

.line-break{
	display: block;

	@include bp-desktop{
		display: inline-block;
	}
}

.two-col{

	@include bp-desktop{
		display: flex;
		flex-direction: row;
	}
}

aside{
	@include bp-desktop{
		width: $column-1-2;
	}
}

.third-quarter{
	background-color: white;
	border-top: 1px #C6C6C6 solid;
	border-right: 1px #C6C6C6 solid;

	@include bp-desktop{
		height: 425px;
	}

	h2{
		background: black;
		color: white;
		font-size: 30px;
		padding: 15px 30px;
	}

	span{
		font-weight: bolder;
	}

	img{
		border: 1px solid black;
		margin-bottom: 20px;
	}

	.testimonial{
		margin-bottom: 25px;
	}

	.testimonial-pics{
		display: flex;
		justify-content: space-around;
		
		li{
			flex: 0;

			@include bp-desktop{
				padding-right: 10px;
			}
		}
	}

	.blurb{
		padding: 15px 5px;
		font-family: Arial, Helvetica, sans-serif;
		display: flex;
		flex-direction: column;

		@include bp-desktop{
			padding: 15px 30px;
			align-items: flex-start;
		}
	}

	.testimonial-link{
		@include links;
	}

}

.course{
	padding-top: 20px;
	padding-left: 20px;
	display: flex;

	h3{
		font-size: 18px;
		color: white;
		padding-bottom: 5px;
	}

	p{
		font-size: 15px;
		font-family: 'arial';
		color: white;
		margin-right: 40px;
	}

	img{
		margin-right: 13px;
	}

	&:last-child{
		margin-bottom: 20px;

		@include bp-desktop{
			margin-bottom: 0px;
		}
	}
}
